*{
    box-sizing: border-box;
}
body{
    background-color:#f7ede2;
    margin: 0;
}
.bg{
    background-color:#f7ede2;
}

.bg2{
    background-color:#f6bd60;
}
.bg3{
    background-color: #f5cac3;
}
.bg4{
    background-color: #84a59d;
}
.bg5{
    background-color:#f5cac3 ;
}

@media (min-width:992px) and (max-width: 1199px ){
    .overflow{
        width: 480px;
        height: 290px;
        overflow: scroll;
        margin-top: 15px;
    }
}


@media (min-width:1200px) and (max-width: 1400px ){
    .overflow{
        width: 550px;
        height: 336px;
        overflow: scroll;
        margin-top: 15px;
    }
}
